imageio==2.5.0
imgaug==0.2.9
Cython==0.28.1
h5py==2.9.0
Keras==2.1.5
mask-rcnn==2.1
numpy==1.15.1
opencv-python==4.1.0.25
Pillow==5.0.0
pycocotools==2.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
tensorboard==1.6.0
tensorflow-gpu==1.15.0
